<?xml version='1.0' encoding='UTF-8'?>
<plugin
    id="cordova-plugin-clipboardswift"
    version="0.1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>Copy to Clipboard (Swift)</name>

  <author>Lumi Ibishi</author>

  <description>Use Copy to Clipboard via Swift</description>

  <keywords>Copy to Clipboard, Clipboard, Copy, Swift</keywords>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module name="Copy" src="www/Copy.js">
    <clobbers target="Copy"/>
  </js-module>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Copy">
        <param name="ios-package" value="Copy"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Bridging-Header.h"/>
    <source-file src="src/ios/Copy.swift"/>

  </platform>

</plugin>